<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微博首页</title>
    <meta name="keywords" content="微博 个人微博" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="微博首页">
    <meta name="author" content="刘健佐">
    <link href="/statics/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/statics/my_weibo_css/my_weibo_css1.css" rel="stylesheet" type="text/css"/>

    <style>
        @font-face {
        font-family: 'Glyphicons Halflings';

        src: url('../../statics/bootstrap/fonts/glyphicons-halflings-regular.eot');
        src: url('../../statics/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../statics/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
        }


        body{
            background-color: #fff;
        }




    </style>
</head>
<body>

    <div class="container-fluid W_miniblog" >


        <div class="W_main">
            <div class="content_weibo">
                <div class="W_main_l">
						<div class="WB_left_nav">
							<div class="W_main_l">
                              <!--首页左导-->
                              <div class="WB_left_nav">
                                <div class="level_1_Box">
                                  <form class="left_nav_line">
                                    <fieldset class="S_line3">

                                      <legend class="tit S_txt3">帐号设置</legend>
                                    </fieldset>
                                  </form>
                                                <div class="lev"><a class="S_txt1 lev_curr" href="http://account.weibo.com/set/index"><i class="W_ico20 ico_account ico_personinfo"></i>我的信息</a></div>
                                                <div class="lev"><a class="S_txt1" href="http://account.weibo.com/set/photo"><i class="W_ico20 ico_account ico_avater"></i>头像</a></div>
                                  <form class="left_nav_line left_nav_lineborder">
                            <fieldset class="S_line1"></fieldset>
                        </form>
                                </div>
                                <div class="level_1_Box">
                                  <div class="lev"><a class="S_txt1" href="http://account.weibo.com/set/privacy"><i class="W_ico20 ico_account ico_privacy"></i>隐私设置</a></div>
                                  <div class="lev"><a class="S_txt1" href="http://account.weibo.com/set/message"><i class="W_ico20 ico_account ico_message"></i>消息设置</a></div>
                                  <div class="lev"><a class="S_txt1" href="http://account.weibo.com/set/prefer"><i class="W_ico20 ico_account ico_prefer"></i>偏好设置</a></div>
                                  <form class="left_nav_line left_nav_lineborder">
                            <fieldset class="S_line1"></fieldset>
                        </form>
                                </div>
                                            <div class="level_1_Box">
                                                <div class="lev"><a class="S_txt1" href="http://account.weibo.com/set/bindsns/index"><i class="W_ico20 ico_account ico_accbind"></i>帐号绑定</a></div>
                                  <form class="left_nav_line left_nav_lineborder">
                            <fieldset class="S_line1"></fieldset>
                        </form>
                                </div>
                                                        <div class="level_1_Box">
                                  <div class="lev"><a class="S_txt1" href="http://account.weibo.com/set/badge"><i class="W_ico20 ico_account ico_mymedal"></i>我的勋章</a></div>
                                  <!--<div class="lev"><a class="S_txt1 " href=""><i class="W_ico20 ico_account ico_mylevel"></i>我的等级</a></div>-->
                                </div>
                                          </div>
                    <!--/首页左导-->
                            </div>
                                            </div>
                                        </div>
            </div>
        </div>



{#        <div class="row">#}
{#            <div class="container" style="margin:0 auto;">#}
{##}
{#                <div class="col-xs-2" style="margin: 0 auto">#}
{#                           sadfds#}
{#                </div>#}
{#                <div class="col-xs-7" style="margin: 0 auto">#}
{#                               sadfds#}
{#                </div>#}
{#            </div>#}
{#        </div>#}


    </div>

</body>
</html>