<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微博首页</title>
    <meta name="keywords" content="微博 个人微博" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="微博首页">
    <meta name="author" content="刘健佐">
    <link href="/statics/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"
    />

    <style>
        .W_miniblog{
            background-repeat: no-repeat;
            background-position: center 0;
            padding-top: 60px;
            background-image: url("../../statics/image/body_bg.png");
        }
    </style>
</head>
<body>

    <div class="col-xs-12 W_miniblog" >

        <div class="col-xs-8 col-xs-8" style="margin: 0 auto">
            sadfds
        </div>

    </div>





</body>
</html>