{% extends "_lay_mu_out/_layout.html" %}
{% block newcss %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link href="/statics/profile_js_css/frame.css" type="text/css" rel="stylesheet">
    <link href="/statics/profile_js_css/skin.css" type="text/css" rel="stylesheet">
    <link href="/statics/profile_js_css/person_info.css" type="text/css" rel="stylesheet">
    <link href="/statics/profile_js_css/person_info(1).css" type="text/css" rel="stylesheet">

    <link rel="Stylesheet" type="text/css" charset="utf-8" href="/statics/profile_js_css/WB_outframe.css">


    <style>
        .content_weibo {
            margin: 0 auto;
            min-width: 980px;
            width: 980px;
            height: 572px;
            background-image: url("../../statics/image/repeat_bg_y.png");
            background-repeat: repeat-y;
        }

        .W_miniblog {
            background-repeat: no-repeat;
            background-position: center 0;
            padding-top: 60px;
            background-image: url("../../statics/image/body_bg.png");
        }

        .hide {
            display: none;
        }
        #mosson{display: none}



    </style>
{% endblock %}

{% block inner %}
    <div class="W_main" style="margin-top: 80px !important;">
        <div class="content_weibo W_main_bg clearfix">
            <!--左侧栏  -->
            <div class="W_main_l">
                <div class="WB_left_nav">
                    <div class="W_main_l">
                        <!--首页左导-->
                        <div class="WB_left_nav">
                            <div class="level_1_Box">
                                <form class="left_nav_line">
                                    <fieldset class="S_line3">
                                        <legend class="tit S_txt3">帐号设置</legend>
                                    </fieldset>
                                </form>
                                <div class="lev"><a class="S_txt1 lev_curr"
                                                    href="#account.#set/index"><i
                                        class="W_ico20 ico_account ico_personinfo"></i>我的信息</a></div>
                                <div class="lev"><a class="S_txt1" href="#account.#set/photo"><i
                                        class="W_ico20 ico_account ico_avater"></i>头像</a></div>
                                <form class="left_nav_line left_nav_lineborder">
                                    <fieldset class="S_line1"></fieldset>
                                </form>
                            </div>
                            <div class="level_1_Box">
                                <div class="lev"><a class="S_txt1" href="#account.#set/privacy"><i
                                        class="W_ico20 ico_account ico_privacy"></i>隐私设置</a></div>
                                <div class="lev"><a class="S_txt1" href="#account.#set/message"><i
                                        class="W_ico20 ico_account ico_message"></i>消息设置</a></div>
                                <div class="lev"><a class="S_txt1" href="#account.#set/prefer"><i
                                        class="W_ico20 ico_account ico_prefer"></i>偏好设置</a></div>
                                <form class="left_nav_line left_nav_lineborder">
                                    <fieldset class="S_line1"></fieldset>
                                </form>
                            </div>
                            <div class="level_1_Box">
                                <div class="lev"><a class="S_txt1"
                                                    href="#account.#set/bindsns/index"><i
                                        class="W_ico20 ico_account ico_accbind"></i>帐号绑定</a></div>
                                <form class="left_nav_line left_nav_lineborder">
                                    <fieldset class="S_line1"></fieldset>
                                </form>
                            </div>
                            <div class="level_1_Box">
                                <div class="lev"><a class="S_txt1" href="#account.#set/badge"><i
                                        class="W_ico20 ico_account ico_mymedal"></i>我的勋章</a></div>
                                <!--<div class="lev"><a class="S_txt1 " href=""><i class="W_ico20 ico_account ico_mylevel"></i>我的等级</a></div>-->
                            </div>
                        </div>
                        <!--/首页左导-->
                    </div>
                </div>
            </div>
            <!--主栏  -->
            <div class="W_main_a">
                <div class="W_follow_bg S_bg4 hide">
                    <div style="width:300px;height: 300px;background-color: red;margin-left: 230px;margin-top: 115px;;text-align: center"></div>
                </div>
                <div class="W_follow_bg S_bg4">
                    <div class="group_read">
                        <div class="title">
                            我的信息
                            <div class="trash safety_ratio">
                                <span class="tit S_txt2">资料完善度</span>
                                <div class="p_bar">
                                    <div class="p_bar_inner ts_color3" style="width:45% ">
                                        <em class="level S_txt2">45%</em>
                                    </div>
                                </div>
                            </div>
                            <span class="W_fr S_txt2 w_fn">
                                    <a target="_blank" href="##5356516674/info">预览我的主页</a>
                                </span>
                        </div>
                    </div>


                    <div class="W_account_envent">
                        <!--登录名  -->
                        <div class="account_fold SW_fun_bg">
                            <ul class="account_title clearfix">
                                <li class="title_name W_fb">登录名</li>
                                <li class="title_content S_txt2" node-type="concise">132*****359</li>
                                <li class="title_option W_tr">
                                    <a style=" display: inline-block;width: 63px" href="#security.#account/security?topnav=1&amp;wvr=6&amp;option=chgpwd"
                                       suda-uatrack="key=tblog_account&amp;value=password">修改密码»</a>
                                </li>
                            </ul>
                        </div>
                        <!--手机号  下掉可直接使用此号码登录文案 @author yaning1-->
                        <div class="account_fold SW_fun_bg">
                            <ul class="account_title clearfix">
                                <li class="title_name W_fb">手机号</li>
                                <li class="title_content S_txt2">
                                    132*****359
                                </li>
                                <li class="title_option W_tr">
                                    <a href="#security.#account/index"
                                       suda-uatrack="key=tblog_account&amp;value=bind_phone">
                                        查看 </a>
                                </li>
                            </ul>
                        </div>
                        <!--昵称收起  -->
                        <div class="account_fold SW_fun_bg" id="pl_personalInfo_nickname" >
                            <ul class="account_title clearfix" action-type="drawer_toggle" suda-uatrack="key=tblog_account&amp;value=nick"
                                onclick="Diane(this);" >
                                <li class="title_name W_fb">昵称</li>
                                <li class="title_content S_txt2" id="nickname2" node-type="concise">{{ infomation.userinfo.name }}</li>
                                <li class="title_option W_tr">
                                    <a class="set_opt" node-type="drawer_toggle" action-data="open=编辑&amp;close=收起"
                                       href="javascript:void(0)">
                                        编辑 </a>
                                </li>
                            </ul>
                            <!--昵称编辑  -->
                            <div class="ShutDown unfold_content clearfix hide " node-type="content">
                                <div class="acc_form">
                                    <div class="info_item clearfix">
                                        <div class="tit">现昵称</div>
                                        <div class="inp w_lh30" id="nickname1" node-type="oldnick">{{ infomation.userinfo.name }}</div>
                                        <div class="tips">
                                        </div>
                                    </div>
                                    <div class="info_item clearfix">
                                        <div class="tit">新昵称</div>
                                        <div class="inp">
                                            <input class="W_input W_input_personal" type="text" node-type="nickname" name="nickname">
                                        </div>
                                        <div class="tips" node-type="nickname_tip">
                                        </div>
                                    </div>
                                    <div class="info_item clearfix">
                                        <div class="inp S_txt2">系统为你推荐了几款好昵称，<a
                                                href="##a/nickname/index" target="_blank"
                                                suda-uatrack="key=tblog_vip_nick&amp;value=myinfo_nick_go">快去看看&gt;&gt;</a>
                                        </div>
                                    </div>
                                    <div class="info_item btn_item clearfix">
                                    <div class="inp">
                                        <a class="W_btn_a" node-type="" action-type="">
                                            <span onclick="NickName(this)">保存</span></a>
                                        <a class="W_btn_b" href=""
                                           action-type="btn_cancel">
                                            <span onclick="ShutDown(this)">关闭</span></a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--个人信息展开  -->
                        <div class="account_fold SW_fun_bg" id="pl_personalInfo_personalData">
                            <ul class="account_title clearfix" action-type="drawer_toggle" suda-uatrack="key=tblog_account&amp;value=info"
                                onclick="Diane(this);">
                                <li class="title_name W_fb">个人资料</li>
                                <li class="title_content S_txt2" id="profile_info" node-type="concise">我的邮箱{{ infomation.userinfo.email }} </li>
                                <li class="title_option W_tr">
                                    <a class="set_opt" node-type="drawer_toggle" action-data="open=编辑&amp;close=收起"
                                       href="javascript:void(0)">编辑</a>
                                </li>
                            </ul>



                            <!--   编辑个人信息         -->
                            <div class="ShutDown unfold_content clearfix hide" node-type="content" >
                                <p class="hint_title S_txt2">以下信息将显示在个人资料页，方便大家了解你。</p>
                                <!--联系信息  -->
                                <div class="acc_form visible_lev_form">
                                    <div class="info_item clearfix">联系信息</div>
                                    <!--博客地址  -->
                                    <div class="info_item clearfix">
                                        <div class="tit">邮箱：</div>
                                        <div class="inp">
                                            <input class="W_input W_input_information" type="text" value=""
                                                   action-data="text=请输入博客地址&amp;must=false" name="blog"
                                                   action-type="text_copy" node-type="blog">
                                        </div>
                                        <div class="set">
                                            <a class="W_btn_c W_btn_c_hov" action-type="secrecy" name="pub_blog"
                                               href="javascript:void(0)" value="2">
                                                    <span>
                                                        <em node-type="secrecy_title">
                                                            所有人可见 </em>
                                                        <i class="W_arrow"><em class="down">◆</em></i>
                                                    </span>
                                            </a>
                                        </div>
                                        <div class="tips">
                                            <div class="status" node-type="blog_tip">
                                                <div class="W_tips tips_del clearfix" style="display:none"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--保存取消按钮  -->
                                    <div class="info_item btn_item clearfix">
                                        <div class="tit"></div>
                                        <div class="inp">
                                            <a class="W_btn_a" action-type="btn_submit" node-type="btn_submit" href="">
                                                <span onclick="Infomation(this)">保存</span></a>
                                            <a class="W_btn_b" action-type="btn_reset" node-type="btn_reset"
                                               href="">
                                                <span onclick="ShutDown(this)">关闭</span></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--个人标签  -->
                        <div class="account_fold SW_fun_bg" id="pl_personalInfo_tag">
                            <ul class="account_title clearfix" action-type="drawer_toggle" suda-uatrack="key=tblog_account&amp;value=tag"
                                onclick="Diane(this);">
                                <li class="title_name W_fb">个人标签</li>
                                <li class="title_content S_txt2" node-type="concise">
                                    {{ infomation.tag_list.0 }},{{ infomation.tag_list.1 }},{{ infomation.tag_list.2 }},{{ infomation.tag_list.3 }}等标签
                                </li>
                                <li class="title_option W_tr">
                                    <a node-type="drawer_toggle" action-data="open=编辑&amp;close=收起"
                                       href="javascript:void(0)">编辑</a>
                                </li>
                            </ul>
                        <!--   编辑标签        -->
                            <div node-type="content" class=" ShutDown unfold_content clearfix hide">
                                <p class="hint_title S_txt2">添加描述职业、兴趣爱好等方面的词语，让更多人找到你，让你找到更多同类</p>
                                    <div class="profile_pinfo profile_tag" node-type="tag">
                                    <div class="pf_item clearfix">
                                        <div class="label S_txt2">标签</div>
                                        <div class="con">
                                            <div class="tag_edit">
                                                <div class="fake_input S_bg5 S_line2">
                                                    {% for item in infomation.tag_list %}
                                                    <div  class="W_btn_arrow tag" node-type="tag_item" data="value=视频音乐&amp;tagid=201011160001445655"><span class="S_func1">{{ item }}<a href="javascript:void(0)" action-type="tag_del" action-data="value=视频音乐&amp;tagid=201011160001445655" class="W_ico12 icon_close"></a></span></div>
                                                    {% endfor %}
                                                    <div class="W_btn_arrow tag" node-type="tag_item" data="value=校园生活&amp;tagid=37029"><span class="S_func1">校园生活<a href="javascript:void(0)" action-type="tag_del" action-data="value=校园生活&amp;tagid=37029" class="W_ico12 icon_close"></a></span></div>
                                                    <div class="W_btn_arrow tag" node-type="tag_item" data="value=搞笑幽默&amp;tagid=13596">
                                                        <span class="S_func1">搞笑幽默
                                                            <a href="javascript:void(0)" action-type="tag_del" action-data="value=搞笑幽默&amp;tagid=13596" class="W_ico12 icon_close"></a>
                                                        </span>
                                                    </div>
                                                    <div ondblclick="Miss(this)" id="mosson" class="hide W_btn_arrow tag " node-type="tag_item" data="value=视频音乐&amp;tagid=201011160001445655">
                                                        <span class="S_func1">视频
                                                            <a href="javascript:void(0)" action-type="tag_del" action-data="value=视频音乐&amp;tagid=201011160001445655" class="W_ico12 icon_close"></a>
                                                        </span>
                                                    </div>


                                                    <span><input id="tag_test" type="text" node-type="input" class="S_txt2 tag" action-type="text_copy" action-data="text=点击空白处输入标签"></span></div>
                                                    <div class="W_tips tips_error clearfix" node-type="tag_warn" style="display: none;">
                                                          <p class="icon">
                                                          <span class="icon_errorS"></span>
                                                          </p>
                                                          <p class="txt" node-type="tag_warn_msg">
                                                          </p>
                                                          <p class="close">
                                                          <a href="javascript:void(0);" action-type="hide_warn" class="W_ico12 icon_close"></a>
                                                          </p>
                                                    </div>
                                                    <div class="tags"> 你可能感兴趣的标签：
                                                        <span node-type="tag_interest">
                                                                                    <a href="javascript:void(0);" action-type="tag_add" action-data="value=幽默" class="W_btn_arrow tag"><span class="S_func1"><em class="addicon">+</em>幽默</span></a>
                                                                                    <a href="javascript:void(0);" action-type="tag_add" action-data="value=篮球" class="W_btn_arrow tag"><span class="S_func1"><em class="addicon">+</em>篮球</span></a>
                                                                                    <a href="javascript:void(0);" action-type="tag_add" action-data="value=运动" class="W_btn_arrow tag"><span class="S_func1"><em class="addicon">+</em>运动</span></a>
                                                                                    <a href="javascript:void(0);" action-type="tag_add" action-data="value=宅女" class="W_btn_arrow tag"><span class="S_func1"><em class="addicon">+</em>宅女</span></a>
                                                                                    <a href="javascript:void(0);" action-type="tag_add" action-data="value=乐观" class="W_btn_arrow tag"><span class="S_func1"><em class="addicon">+</em>乐观</span></a>
                                                                                    <a href="javascript:void(0);" action-type="tag_add" action-data="value=天蝎座" class="W_btn_arrow tag"><span class="S_func1"><em class="addicon">+</em>天蝎座</span></a>
                                                                                    <a href="javascript:void(0);" action-type="tag_add" action-data="value=搞笑" class="W_btn_arrow tag"><span class="S_func1"><em class="addicon">+</em>搞笑</span></a>
                                                                                    <a href="javascript:void(0);" action-type="tag_add" action-data="value=上海生活" class="W_btn_arrow tag"><span class="S_func1"><em class="addicon">+</em>上海生活</span></a>
                                                                                    <a href="javascript:void(0);" action-type="tag_add" action-data="value=吃" class="W_btn_arrow tag"><span class="S_func1"><em class="addicon">+</em>吃</span></a>
                                                                                    <a href="javascript:void(0);" action-type="tag_add" action-data="value=天秤座" class="W_btn_arrow tag"><span class="S_func1"><em class="addicon">+</em>天秤座</span></a>
                                                                                </span>
                    <div class="tags_more"><a href="javascript:void(0)" action-type="tag_change">换一换</a></div>
                    <!--保存取消按钮  -->
                    <div class="info_item btn_item clearfix">
                        <div class="tit"></div>
                        <div class="inp">
                            <a class="W_btn_a" action-type="btn_submit" node-type="btn_submit" href="">
                                <span onclick="Clo(this)">保存</span></a>
                            <a class="W_btn_b" href="">
                                <span onclick="ShutDown(this)">关闭</span></a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>

</div>
                            </div></div>
                        <!--教育信息收起  -->
                        <div class="account_fold SW_fun_bg" id="pl_personalInfo_education">
                            <ul class="account_title clearfix" action-type="drawer_toggle"
                                suda-uatrack="key=tblog_account&amp;value=edu" onclick="Diane(this);">
                                <li class="title_name W_fb">教育信息</li>
                                <li class="title_content S_txt2" node-type="concise">
                                    未填写学校
                                </li>
                                <li class="title_option W_tr">
                                    <a class="set_opt" node-type="drawer_toggle" action-data="open=编辑&amp;close=收起"
                                       href="javascript:void(0)">
                                        编辑 </a>
                                </li>
                            </ul >
                            <div node-type="content" class="unfold_content clearfix hide">

                            </div>
                        </div>
                        <!--职业信息收起  -->
                        <div class="account_fold SW_fun_bg" id="pl_personalInfo_job">
                            <ul class="account_title clearfix" action-type="drawer_toggle"
                                suda-uatrack="key=tblog_account&amp;value=career" onclick="Diane(this);">
                                <li class="title_name W_fb">职业信息</li>
                                <li class="title_content S_txt2" node-type="concise">
                                    未填写公司
                                </li>
                                <li class="title_option W_tr">
                                    <a class="set_opt" node-type="drawer_toggle" action-data="open=编辑&amp;close=收起"
                                       href="javascript:void(0)">
                                        编辑 </a>
                                </li>
                            </ul>
                            <div node-type="content" class="unfold_content clearfix hide">
                                    <a>编辑</a>
                            </div>
                        </div>

                        <!--收货地址收起  -->
                        <div class="account_fold SW_fun_bg" id="pl_personalInfo_address">
                            <ul class="account_title clearfix" action-type="drawer_toggle"
                                suda-uatrack="key=tblog_account&amp;value=delivery_address" onclick="Diane(this);">
                                <li class="title_name W_fb">收货地址</li>
                                <li class="title_content S_txt2" node-type="concise">
                                    未填写收货地址
                                </li>
                                <li class="title_option W_tr">
                                    <a node-type="drawer_toggle" action-data="open=编辑&amp;close=收起"
                                       href="javascript:void(0)">编辑</a>
                                </li>
                            </ul>
                            <div node-type="content" class="unfold_content clearfix hide">
                            </div>
                        </div>

                        <!--个人域名  -->
                        <div class="account_fold SW_fun_bg" id="pl_personalInfo_domain">
                            <ul class="account_title clearfix" action-type="drawer_toggle"
                                suda-uatrack="key=tblog_account&amp;value=domain">
                                <li class="title_name W_fb">个性域名</li>
                                <li class="title_content S_txt2" node-type="concise">
                                    设置个性域名，让朋友更容易记住
                                </li>
                                <li class="title_option W_tr">
                                    <a node-type="drawer_toggle" action-data="open=编辑&amp;close=收起"
                                       href="javascript:void(0)">编辑</a>
                                </li>
                            </ul>
                            <div style="display:none;" node-type="content" class="unfold_content clearfix">
                            </div>
                        </div>

                    </div>
                </div>
        </div>
    </div>
{% endblock %}


{% block js1 %}
<script type="text/javascript" src="/statics/profile_js_css/theia_1_4.js"></script>
<script type="text/javascript" src="/statics/profile_js_css/index.js"></script>
<script type="text/javascript" src="/statics/index_profile_js_css/jquery-1.8.2.min.js"></script>
<!------------------------------------->

<!------------------------------------->
<script type="text/javascript">

    window.onkeydown = function (event) {
        if(event.keyCode == 32){
            var text_content = $('#tag_test').val();

            console.log(text_content);
            data_array = []
            data_array.push(text_content)
            data_dict = {'data_tag':JSON.stringify(data_array)};


            if(text_content){
                var m = $('#mosson span').text(text_content);
                console.log('11111111111');
                $('#mosson').css('display','inline-block');
                $.ajax({
                    type:'POST',
                    url:'/add_tags/',
                    dataType:'JSON',
                    data:data_dict,
                    success:function (callback) {
                        console.log(callback)
                    }
                })
            }
        }
    };
    function Miss(ths) {
        $(ths).css('display', 'none')
    }



    var Diane = function (ths) {
        $(ths).addClass('hide');
        $(ths).siblings().removeClass('hide')
    };
    <!--获取昵称-->
    function NickName(ths) {
        var input_val = $('.W_input_personal').val();
        console.log(input_val,{'data_tag':["name",input_val] });
        $.ajax({
            url:'/change_userprofile_name/',
            type:'POST',
            data:{'data_tag':JSON.stringify(["name",input_val]) },
            dataType:'JOSN',
            success:function (callback) {
                console.log(callback)
                if (callback.status){
                    $("#nickname1").text(input_val)
                    $("#nickname2").text(input_val)
                    }
                    }
        })
        $("#nickname1").text(input_val)
        $("#nickname2").text(input_val)
    }
    <!--  个人信息   -->
    function Infomation(ths) {
    var input_val = $('.W_input_information').val();
    console.log(input_val);
    $.ajax({
        type:'POST',
        url:'/change_userprofile_name/',
        data:{'data_tag':JSON.stringify(["email",input_val]) },
        dataType:'JOSN',
        success:function (callback) {
            $("#profile_info").text(input_val)
            console.log(callback)
                }
    })
}
<!--  标签  ------------------- -->
    function Clo(ths) {
        $('#mos_tag').css('display', 'none');
        $('#mos_ul').removeClass('hide')
    }
<!--   关闭按钮   ----------------------------           -->
    function ShutDown(ths) {
        $('.ShutDown').removeClass('hide')
    }
</script>




{% endblock %}





